In [3]:
import pandas as pd
import random #Randomize the time
import requests
from time import sleep
from requests import get #Time delay for webscraping

from bs4 import BeautifulSoup as soup #Webscaping
import sqlite3 
from api_key import key

#Change your API Key here
api_key = key

1) SQL Database

In [4]:
#Scrape 10 different pages to get the list of 1000 top actors
nameList=pd.DataFrame({"Rank":[],"Name":[] })
for pageindex in [1,2,3,4,5,6,7,8,9,10]:
    url="https://www.imdb.com/list/ls058011111/?sort=list_order,asc&mode=detail&page="+str(pageindex)+"&ref_=nmls_vm_dtl"
    response = get(url)
    html_soup=soup(response.text, "html.parser")
    page=html_soup.find_all(class_="lister-item-content")
    for index, element in enumerate(page):
        nameList.loc[len(nameList)]=[index+1+(pageindex-1)*100,element.find_all('a')[0].text[:-1]]
    #This function randomize the delay time to avoid overload a website
    sleep(random.random())

In [ ]:
#Create a rank List database
!rm 'actorRank.db' #Avoid duplicating the file
conn = sqlite3.connect('actorRank.db')
cur=conn.cursor()

#Create table "rank" in the "actorRank" database. This have 2 columns: Rank, Name
cur.execute("""CREATE TABLE rank(Rank Integer, Name TEXT);""")

#Insert values from the "nameList" created above to the table
for i in range(nameList.shape[0]):
    name=nameList['Name'][i].replace("'"," ")
    rank=nameList['Rank'][i]
    #Note that there is a '' around {}
    cur.execute("""INSERT INTO rank (Rank,Name) VALUES ({},'{}');""".format(rank,name))

conn.commit()

2) Movies CVS

In [5]:
#Given a year, return data frame of that year

def moviesData(year):
    urlDiscover='https://api.themoviedb.org/3/discover/movie?api_key='
    searchkey='&primary_release_year='+str(year)+'&sort_by=revenue.desc'
    response = requests.get(urlDiscover + api_key + searchkey)
    revenueResult = response.json() 
    revenueResultLimit= revenueResult['results']

    df = pd.DataFrame(columns=['Release_Date','ID','Title','Budget','Revenue','Profit','Runtime','Rating','Genres'])
    
    for film in revenueResultLimit:
        filmDetails = requests.get('https://api.themoviedb.org/3/movie/'+ str(film['id']) +'?api_key='+ api_key +'&language=en-US')
        filmDetails = filmDetails.json()
        profit=filmDetails['revenue']-filmDetails['budget']
        df.loc[len(df)]=[film['release_date'],film['id'],film['title'],filmDetails['budget'],filmDetails['revenue'], profit,filmDetails['runtime'],filmDetails['vote_average'],genres(filmDetails)]
    return df

In [6]:
#This is a supplement function for the above function
#Give the json file "filmDetails", return the list of all genres
def genres(filmDetails):
    genresList=[]
    for i in range(len(filmDetails['genres'])):
        genresList.append(filmDetails['genres'][i]['name'])
    return genresList

In [ ]:
#Create a list of Data Frame from 2009 to 2019
yearList=[]
for i in range(11):
    year=2009+i
    yearList.append(moviesData(year))
    sleep(6)

In [ ]:
#Create a df of all 10 years
!rm moviesData
df=pd.concat(yearList,ignore_index=True)
#Save that df in a csv file
df.to_csv('moviesData')

In [27]:
df.head()

,Release_Date,ID,Title,Budget,Revenue,Profit,Runtime,Rating,Genres
0,2009-12-18,19995,Avatar,237000000,2787965087,2550965087,162,7.4,"[Action, Adventure, Fantasy, Science Fiction]"
1,2009-07-08,767,Harry Potter and the Half-Blood Prince,250000000,933959197,683959197,153,7.6,"[Adventure, Fantasy, Family]"
2,2009-07-01,8355,Ice Age: Dawn of the Dinosaurs,90000000,886686817,796686817,94,6.6,"[Animation, Comedy, Family, Adventure]"
3,2009-06-23,8373,Transformers: Revenge of the Fallen,150000000,836297228,686297228,150,6.0,"[Science Fiction, Action, Adventure]"
4,2009-10-10,14161,2012,200000000,769653595,569653595,158,5.7,"[Action, Adventure, Science Fiction]"