This is where we work

In [5]:
import pandas as pd
import sqlite3
import requests

#Import all the function needed to answer the actor/actress question
#Contain: castRankList(ID), castRank(Name), cast(ID)
from castFunctions import functions

In [6]:
#Aquire and clean the data
df=pd.read_csv("moviesData")
df=df.drop(columns=['Unnamed: 0'])

In [7]:
#Instanitiate a class ob
f=functions()

In [11]:
df.head()

,Release_Date,ID,Title,Budget,Revenue,Profit,Runtime,Rating,Genres
0,2009-12-18,19995,Avatar,237000000,2787965087,2550965087,162,7.4,"['Action', 'Adventure', 'Fantasy', 'Science Fi..."
1,2009-07-08,767,Harry Potter and the Half-Blood Prince,250000000,933959197,683959197,153,7.6,"['Adventure', 'Fantasy', 'Family']"
2,2009-07-01,8355,Ice Age: Dawn of the Dinosaurs,90000000,886686817,796686817,94,6.6,"['Animation', 'Comedy', 'Family', 'Adventure']"
3,2009-06-23,8373,Transformers: Revenge of the Fallen,150000000,836297228,686297228,150,6.0,"['Science Fiction', 'Action', 'Adventure']"
4,2009-10-10,14161,2012,200000000,769653595,569653595,158,5.7,"['Action', 'Adventure', 'Science Fiction']"